tools/Exportation_DS_flore/Model/observation0.4.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sinp="http://www.naturefrance.fr/sinp/" elementFormDefault="qualified" targetNamespace="http://www.naturefrance.fr/sinp/" version="0.4">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="DSPubliqueValueType">
    <restriction base="string">
      <enumeration value="PU"/>
      <enumeration value="PR"/>
      <enumeration value="NSP"/>
    </restriction>
  </simpleType>
  <element name="EmpriseTemporelle" substitutionGroup="gml:AbstractObject" type="sinp:EmpriseTemporelleType"/>
  <complexType name="EmpriseTemporelleType">
    <sequence>
      <element name="dateDebut" type="dateTime"/>
      <element name="dateFin" type="dateTime"/>
    </sequence>
  </complexType>
  <complexType name="EmpriseTemporellePropertyType">
    <sequence>
      <element ref="sinp:EmpriseTemporelle"/>
    </sequence>
  </complexType>
  <element name="Georeference" substitutionGroup="gml:AbstractObject" type="sinp:GeoreferenceType"/>
  <complexType name="GeoreferenceType">
    <choice>
      <element name="geometriePoint" type="gml:PointPropertyType"/>
      <element name="geometrieLigne" type="gml:CurvePropertyType"/>
      <element name="geometriePolygone" type="gml:SurfacePropertyType"/>
      <element name="maille10x10" type="string"/>
      <element name="commune" type="string"/>
      <element name="espaceNaturel" type="string"/>
      <element name="masseEau" type="string"/>
    </choice>
  </complexType>
  <complexType name="GeoreferencePropertyType">
    <sequence>
      <element ref="sinp:Georeference"/>
    </sequence>
  </complexType>
  <element name="Observation" substitutionGroup="gml:AbstractFeature" type="sinp:ObservationType"/>
  <complexType name="ObservationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="statusSource" type="sinp:StatusSourceValueType"/>
          <element name="identifiantPermament" type="string"/>
          <element name="statusObservation" type="sinp:StatusObservationValueType"/>
          <element name="cdNom" type="gml:CodeType"/>
          <element maxOccurs="unbounded" name="georeference" type="sinp:GeoreferencePropertyType"/>
          <element maxOccurs="unbounded" name="observateur" type="sinp:PersonnePropertyType"/>
          <element maxOccurs="unbounded" name="validateur" type="sinp:PersonnePropertyType"/>
          <element maxOccurs="unbounded" name="determinateur" type="sinp:PersonnePropertyType"/>
          <element maxOccurs="unbounded" name="empriseTemporelle" type="sinp:EmpriseTemporellePropertyType"/>
          <element name="source" type="sinp:SourcePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ObservationPropertyType">
    <sequence minOccurs="0">
      <element ref="sinp:Observation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Organisme" substitutionGroup="gml:AbstractObject" type="sinp:OrganismeType"/>
  <complexType name="OrganismeType">
    <sequence>
      <element name="nom" type="string"/>
    </sequence>
  </complexType>
  <complexType name="OrganismePropertyType">
    <sequence>
      <element ref="sinp:Organisme"/>
    </sequence>
  </complexType>
  <element name="Personne" substitutionGroup="gml:AbstractObject" type="sinp:PersonneType"/>
  <complexType name="PersonneType">
    <sequence>
      <element name="identite" type="string"/>
      <element maxOccurs="unbounded" minOccurs="0" name="organisme" type="sinp:OrganismePropertyType"/>
    </sequence>
  </complexType>
  <complexType name="PersonnePropertyType">
    <sequence>
      <element ref="sinp:Personne"/>
    </sequence>
  </complexType>
  <element name="Source" substitutionGroup="gml:AbstractObject" type="sinp:SourceType"/>
  <complexType name="SourceType">
    <sequence>
      <element name="jddId" type="string"/>
      <element name="jddCode" type="string"/>
      <element name="dSPublique" type="sinp:DSPubliqueValueType"/>
      <element name="identifiantOrigine" type="string"/>
      <element name="codeIDCNP" type="gml:CodeType"/>
      <element name="sensible" type="boolean"/>
      <element name="nomScientifiqueCite" type="string"/>
    </sequence>
  </complexType>
  <complexType name="SourcePropertyType">
    <sequence>
      <element ref="sinp:Source"/>
    </sequence>
  </complexType>
  <simpleType name="StatusObservationValueType">
    <restriction base="string">
      <enumeration value="PR"/>
      <enumeration value="NO"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusSourceValueType">
    <restriction base="string">
      <enumeration value="TE"/>
      <enumeration value="CO"/>
      <enumeration value="LI"/>
      <enumeration value="NSP"/>
    </restriction>
  </simpleType>
</schema>
